@tailwind base;
@tailwind components;
@tailwind utilities;

.containerb {
  @apply w-full max-w-[1440px] px-5 mx-auto;
}
*::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: giliroy;
  src: url(./fontFamily/Gilroy-Semibold.ttf);
}
@font-face {
  font-family: giliroy-700;
  src: url(./fontFamily/Gilroy-Bold.ttf);
}
@font-face {
  font-family: giliroy-200;
  src: url(./fontFamily/Gilroy-Light.ttf);
}
@font-face {
  font-family: giliroy-500;
  src: url(./fontFamily/Gilroy-Medium.ttf);
}

.giliroy {
  font-family: giliroy;
}
.giliroy-700 {
  font-family: giliroy-700;
}
.giliroy-500 {
  font-family: giliroy-500;
}
.giliroy-200 {
  font-family: giliroy-200;
}

@font-face {
  font-family: rustDemo;
  src: url(./fontFamily/ZingRust.ttf);
}
.rustDemo {
  font-family: rustDemo;
}

.banner {
  width: 100%;
  height: 550px;
  background-position: center;
  background-image: url(./assets/banner.png);
}

.edit {
  font-family: rustDemo;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.1px;
}
.edit2 {
  -webkit-text-fill-color: currentColor;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: white;
}

.ss {
  z-index: 10;
  border: 1px solid white;
  transform: skew(-25deg) rotate(-8deg);
}
.ss::before {
  content: "Ещё не пробовал?";
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -15px;
  left: 10px;
  position: absolute;
  height: 48px;
  background-color: #618967;
}

.classicSwiper {
  display: flex;
  border-radius: 20px;
  position: relative;
  height: 350px;
}

.classicSwiper .swiper-wrapper {
  height: 100%;
  display: flex;
}

.classicSwiper .swiper-slide {
  height: 100%;
}

.classicSwiper .swiper-pagination {
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 60px;
  justify-content: center;
  width: 100%;
  height: 40px;
  bottom: 0;
  border-radius: 10px;
}

.classicSwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

.classicSwiper .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff33;
}

.classicSwiper .swiper-button-prev {
  width: 50px;
  border-radius: 50%;
  left: 30%;
  height: 50px;
  position: absolute;
  bottom: -5px;
  filter: brightness(10);
  background-size: cover;
  transform: rotate(180deg);
  cursor: pointer;
  background-image: url(./assets/arrow.webp);
  z-index: 30;
}
.classicSwiper .swiper-button-next {
  width: 50px;
  border-radius: 50%;
  right: 30%;
  height: 50px;
  position: absolute;
  bottom: -5px;
  filter: brightness(10);
  cursor: pointer;
  background-size: cover;
  background-image: url(./assets/arrow.webp);
  z-index: 30;
}

.cartSwiper {
  display: flex;
  border-radius: 20px;
  position: relative;
  height: 270px;
}
.navbar .swiper-wrapper {
  display: flex;
}

.cartSwiper .swiper-wrapper {
  height: 100%;
  display: flex;
}

.cartSwiper .swiper-slide {
  height: 100%;
}

.butonShadow {
  box-shadow: 0 5px 10px #72a379;
}

.chick {
  background-color: #211f20;
  background-size: cover;
  background-image: url(./assets/chicken.png);
}

.item {
  color: white;
  transition: 0.1s all ease-in;
}
.item:hover {
  color: #618967;
}

.df {
  overflow: hidden;
}
.navSlide .swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  background-color: #211f20;
}

.mapBg {
  background-image: url(./assets/map.png);
}

.hide{
  visibility: hidden;

}

.gradient {
  background-image: linear-gradient(90deg, #ffffff00, #ffffff14, rgba(255, 255, 255, 0));
}
